/* .text {
    margin-right: 3rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
} */




.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }



h1 , p {

    color: rgb(86, 116, 78);
  
    }


button{
    background-color: rgb(79, 222, 79);
    color: white;
}

button:hover{
    background-color: deeppink;
}

